:root {background-color: burlywood; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.1rem;}

h1 
{text-align: center;
color: black;}

menu {background-color: black;
margin: auto;
text-align: center;
display: block;
border-radius: 100px;
width: 80%;
padding: 0px;
padding-top: 1rem;
padding-bottom: 1rem;
text-decoration: none;}

menu li
{display: inline;
text-align: center;}

menu li a {color: rosybrown;
padding: 1.5rem;}

a {text-decoration: none;}

img {margin: auto;
width: auto;
display: inline-block;}

section {text-align: center;}

.imagemprincipal {display: block;}
.fotosdeservico {text-align: center;}