:root {background-color: burlywood; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.1rem;}

h1 
{text-align: center;
color: black;}

ul {display: flex;
flex-direction: row;}


menu {background-color: black;
margin: auto;
text-align: center;
display: block;
border-radius: 100px;
width: 80%;
padding: 0px;
padding-top: 1rem;
padding-bottom: 1rem;
text-decoration: none;}

menu li
{display: inline;
text-align: center;}

menu li a {color: rosybrown;
padding: 1.5rem;}

a {text-decoration: none;}

a:hover {color: gold;}

img {margin: auto;
width: auto;
display: inline-block;}

section {text-align: center;}

.imagemprincipal {display: block;}
.fotosdeservico {text-align: center;}
.linkcontato {text-align: center;
            align-items: center;
            border-radius: 100px;
            background-color: black;
            margin: auto;
            padding: 2rem;
            display: block;
            width: auto;
            font-size: larger;}